  <footer class="footer">
    <div class="footer-top">
      <div class="footer-column">
        <h4>About Us</h4>
        <ul>
          <li>Awards & Recognition</li>
          <li>Media Center</li>
        </ul>
        <h4>Investor Relations</h4>
        <ul><li>Overview</li></ul>
        <h4>Tools & Calculators</h4>
        <ul>
          <li>Fixed Deposit Calculator</li>
          <li>Personal Loan EMI Calculator</li>
          <li>Home Loan EMI Calculator</li>
          <li>Car Loan EMI Calculator</li>
          <li>Mutual Fund Calculator</li>
          <li>SIP Calculator</li>
          <li>Education Loan EMI Calculator</li>
          <li>Retirement Calculator</li>
          <li>Two Wheeler Loan EMI Calculator</li>
          <li>NPS Calculator</li>
          <li>PPF Calculator</li>
        </ul>
        <h4>Regulatory Information</h4>
        <ul>
          <li>Safe Banking</li>
          <li>RBI Awareness Campaign</li>
          <li>RBI: Beware of Fictitious Offers</li>
          <li>RBI Kehta Hai</li>
          <li>Regulatory Disclosure Section</li>
          <li>Customer Literature on NPAs and SMAs</li>
          <li>Regulatory Disclosure Section 2025</li>
          <li>RBI-UDGAM Portal</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Customer Service</h4>
        <ul>
          <li>Contact Us</li>
          <li>Customer Care</li>
          <li>Report Unauthorized Transactions</li>
          <li>Form Center</li>
          <li>Raise a Service Request</li>
          <li>Report Suspicious Activities</li>
          <li>Complaints and Grievance Redressal</li>
          <li>Complaint Form</li>
          <li>Central Know Your Customer (CKYC)</li>
          <li>List of Unclaimed Accounts</li>
        </ul>
        <h4>Popular Products & Services</h4>
        <ul>
          <li>Savings Account</li>
          <li>Current Account</li>
          <li>Fixed Deposit</li>
          <li>Money Transfer</li>
          <li>Credit Cards</li>
          <li>Personal Loan</li>
          <li>Home Loan</li>
          <li>Car Loan</li>
          <li>Mutual Fund</li>
          <li>Debt Management Services</li>
          <li>Education Loan</li>
          <li>Two Wheeler Loan</li>
          <li>FASTAG</li>
          <li>National Pension System</li>
          <li>Public Provident Fund</li>
          <li>Loan on Credit Card</li>
          <li>Loan Against Property</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Ways to Bank</h4>
        <ul>
          <li>Digital Banking</li>
          <li>Mobile Banking</li>
          <li>Internet Banking</li>
          <li>iMobile</li>
          <li>WhatsApp Banking</li>
          <li>Pockets</li>
          <li>Ask iPal</li>
          <li>ATMs and Branches</li>
        </ul>
        <h4>ICICI Bank Group Websites</h4>
        <ul>
          <li>ICICI Foundation</li>
          <li>ICICI Lombard General Insurance</li>
          <li>ICICI Prudential Life Insurance</li>
          <li>ICICI Prudential AMC</li>
          <li>ICICI Venture</li>
          <li>ICICI Direct</li>
          <li>ICICI Securities Primary Dealership Ltd</li>
          <li>ICICI Home Finance</li>
          <li>ICICI Investment Management Company Limited</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Explore</h4>
        <ul>
          <li>Interest Rates</li>
          <li>Forex Rates</li>
          <li>Service Charges and Fees</li>
          <li>Account Activation Process</li>
          <li>Important Information Related to Digital Lending</li>
        </ul>
        <h4>Other</h4>
        <ul>
          <li>Career Opportunities</li>
          <li>Do Not Call Registry</li>
          <li>Customer Service Policies</li>
          <li>Business Conduct and Ethics</li>
          <li>Use of Unparliamentary Language by Customers</li>
          <li>Fair Practice Code for Lenders</li>
          <li>Multilingual Disclaimer</li>
          <li>Sitemap</li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <div><strong>Customer Care</strong><br><button class="care-button">📞 1800 1080</button></div>
        <div><strong>Get Social</strong><br>
          <div class="social-icons">
            <span>🔵</span> <span>🔴</span> <span>🔗</span> <span>🟠</span>
          </div>
        </div>
        <div><strong>Install iMobile</strong><br>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Download_on_the_App_Store_RGB_blk.svg/2560px-Download_on_the_App_Store_RGB_blk.svg.png" height="36px" alt="App Store" class="store-icon">
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Play Store" class="store-icon">
        </div>
      </div>
      <div class="footer-bottom-right">
        <p><strong>Canara Bank Ltd is registered with <a href="#">DICGC</a></strong></p>
        <img src="https://images.sftcdn.net/images/t_app-icon-m/p/a255773c-7fa2-4351-a843-e215d33af1b3/1183205019/canara-bharat-qr-merchant-app-logo" alt="QR Code" class="qr-code">
        <p class="copyright">Copyright 2025. All Rights Reserved</p>
      </div>
    </div>

    <div class="footer-links">
      <a href="#">Terms and conditions</a> |
      <a href="#">Disclaimer</a> |
      <a href="#">Privacy Policy</a> |
      <a href="#">Code of Commitment</a>
    </div>
  </footer>
