{% extends 'main.html' %}
{% block content%}
<section>
    <div class="form">
        <a href="{% url 'home' %}"><button class="but">HOME</button></a>
        <h2>Deposit Amount</h2>
        <form method="POST">
            {% csrf_token %}
            <label>Account Number:</label>
            <input type="number" name="acc_num" required><br><br>
    
            <label>Amount:</label>
            <input type="number" name="amount" required><br><br>

            <label for="pin">Enter PIN:</label>
            <input type="password" name="pin" required><br>
    
            <input class="sub"  type="submit" value="Deposit">
        </form>
    </div>
</section>
{% endblock content %}